<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CustomerAccountInfor</servlet-name>
        <servlet-class>controller.CustomerAccountInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerBookingServlet</servlet-name>
        <servlet-class>controller.ListCustomerBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerAccountInfor</servlet-name>
        <url-pattern>/CustomerAccountInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerBookingServlet</servlet-name>
        <url-pattern>/ListCustomerBookingServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>customer_account_infor.jsp</welcome-file>
    </welcome-file-list>
</web-app>
